/* Header */

body { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
}

/* Hero */

.hero {
    background-color: #1F2937;    
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    height: 250px;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    display: inline-block;
    color: #E5E7EB;
    font-weight: 700;
    background-color: #3882F6;
    padding: 7px 16px;
    border-radius: 4px;
}

.hero-img {
    flex: 2;
    object-fit: cover;
}

/* CTA-Main */

.main-container {

}

h2 {
    font-size: 32px;
    text-align: center;
    margin: 50px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.card-img {
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
}

.card-text{
    text-align: center;
}
